.main-container {

}

.sign-up {
	color: grey;
}

.reset-password {
	color: grey;
}

body {
	background-color: #f4f4f4;
}

.site-container {
	width: 960px;
	margin: 0 auto;
}

.logo {
	margin-left: 15px;
}

.forms-wrapper {
	float: left;
	margin-left: 150px;
}

.logo-wrapper {

	float: left;
}

.nav-bar {
	
	padding-top: 150px;
}

.sign-up-wrapper {
	float: left;
	margin-right: 20px;
}

.reset-password-wrapper {

}

.autorization-href {
	padding-top: 15px;
}

#login_form {
	padding-top: 15px;
}
#search_form{
	float: right;
	margin-bottom: 10px;

}
#search_form input{
	border-color: blue;
	width: 214px;
	padding-right: 0;
	margin-right: 0;
	position: relative;
	left: 5px;
}
#search_form button{
	padding-left: 0;
	margin-left: 0;
	border-color: blue;
	background: blue;
}
#search-form button div{
	background-image: url(../images/search@1x.png);
}